<div class="custom-background">
  <div class="container liner">
    <h1 class="header-text">Software</h1>
  </div>
  <!-- <div class="liner"></div> -->
  <div class="container">
    <div class="col-xs-5 col-sm-3">
      <h2 class="xpendx-title">xpendx</h2>
      <a href="https://itunes.apple.com/us/app/xpendx/id1006323314?mt=8" target="_blank"><img class="xpendx-img" src="/assets/software/xpendx-app-img.png" alt="xpendx Logo"></a>
      <div id="btn-download">
        <a class="btn-custom" href="https://itunes.apple.com/us/app/xpendx/id1006323314?mt=8" target="_blank">Download</a>
      </div>
      <div id="btn-website">
        <a class="" href="http://www.xpendx.com/" target="_blank">Visit xpendx</a>
      </div>
    </div>
    <div class="col-xs-7 col-sm-9 liner-left">
      <div class="mini-description-spacer">
        <h3 id="first-title">AT A GLANCE</h3>
        <p>The home page of xpendx shows your receipts tracked by category, so you know quickly where you are spending your money.</p>
        <p>Essentially, xpendx is an efficient receipt tracker for iOS.</p>
        <h3>MAPS INTEGRATION</h3>
        <p>xpendx will use google maps and your phone’s location services to find vendors near you.</p>
        <h3>PHOTO STORAGE</h3>
        <p>xpendx allows you to photograph your receipts when you input them, so you always have a copy of the physical record.</p>
        <h3>EASY RECEIPT INPUT</h3>
        <p>Adding a receipt to xpendx takes less than a minute, and allows you to sort receipts by category, tags, rating, date, notes, and more!</p>
        <h3>SPENDING CHART</h3>
        <p class="next-vertical-spacer">xpendx contains an interactive pie chart tracking your expenditure by category.</p>
      </div>
    </div>
    <div class="col-xs-12 liner-top">
      <h3>Why xpendx?</h3>
      <p>What makes xpendx different? Why download this receipt-tracker over the others out there? xpendx fulfills the common functions expected of this kind of app: it allows you to photograph, tag and track your receipts, consolidate all of them into one location, and easily view your expenditure by time, category, or payment method. xpendx has two functions that most competitors do not: location-based services, and local data storage.</p>
      <h3>Location-based Service.</h3>
      <p>xpendx makes use of Google Maps to find businesses near your location, cutting down on time needed to input a new receipt, and allowing you to view your expenditure by the individual retailer. More than this, xpendx allows you to view all of your receipts on a map, creating a comprehensive picture of your spending. Do you remember locations better than names? The app will allow you to zoom to that location and see your receipts. Do you want to remember what you ordered the last time you went to a particular restaurant? Search for your receipt and find out! Did you go on a trip to another country? Search for your receipts by that country to know exactly how much you spent there. xpendx’s location service has many functions, and adds a visually appealing way to view your receipts.</p>
      <h3>Local Data Storage.</h3>
      <p class="next-vertical-spacer">xpendx stores all personal data on your phone. This puts control over the security of your data back into your hands. Many similar apps will make you sign up for their service, allowing them to access your personal information and store backups of your data in locations which are inaccessible by you. xpendx does not ask for any personal information: in fact, none of your data ever reaches us. Thus your information privacy and data security are completely in your control. Make sure your iPhone and any backups of your iPhone are secured. Recognize that if you share your data with someone via the spreadsheet export function, you are allowing them access to your data. With this method of storing data and information, xpendx simplifies security and puts you in control.</p>
      <p class="next-vertical-spacer">These reasons, along with xpendx’s ease of use and efficient design, make xpendx the ideal receipt-tracking app.</p>
    </div>

  </div>
</div>
