.custom-background {
  background-color: rgb(31,28,31);
  background-image: url("/assets/home/home-background.jpg");
  background-repeat: space;
  background-size: cover;
  box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
  padding-bottom: 160px;
  margin-bottom: -60px;
}

.custom-background:after {
  position: absolute;
  background: radial-gradient(circle, transparent 50%, black 150%);
}

/* Title code */
.parallax-title {
    display: table;
    text-shadow: 0px 1px 2px rgb(102,102,102);
    background-color: rgba(102,102,102,0.3);

    /* Set a specific height */
    height: 115px;
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 60px;
}
.title-box{
  display: table-cell;
  vertical-align: middle;
  z-index: 20;
  text-align: center;
  color: rgb(250,250,250);
}
.title-text{
  margin-top: 35px;
  margin-bottom: 0px;
  font-size: 3em;
}
.subtitle-text{
  padding-bottom: 0.8em;
  font-size: 1.2em;
}
span{
  /* Show click pointer */
  cursor: pointer;
}
p{
  /* Show default pointer when in between title links */
  cursor: default;
}

/* Overlap title code */
.overlap-title{
  display: block;
  width: 100%;
  padding-top: 103px;
  font-size: 24px;
  color: white;
  text-shadow: 0px 1px 2px rgb(76,76,76);
  overflow-wrap: break-word;
}

.parallax-container {
  width: 70%;
  /* Top right bottom left */
  margin: 0px 15% 0px 15%;
}

/* Other parallax code */
.parallax {
    /* Set a specific height */
    width: 48%;
    height: 275px;
    margin: 7px;
    float: left;

    display: inline-block;
    text-align: center;

    /* Create the parallax scrolling effect on desktop */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Color if no image is showing */
    background-color: rgb(56,56,61);

    /* Show click pointer */
    cursor: pointer;

    /* Make darkening animations work. */
    -webkit-filter: brightness(100%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/* MOBILE: */
@media (max-width: 1025px) {
  /* Change to one square parallaxes when screen is small. */
  .parallax {
      /* Make width take whole square space, so one square per line. */
      width: 100%;
  }
  .parallax-container {
    width: 80%;
    /* Top right bottom left */
    margin: 0px 10% 0px 9%;
  }
}

.parallax:hover{
  /* So squares darken when hovered over. */
  -webkit-filter: brightness(82%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* .parallax-photo & parallax-art are set with ngStyle on the html document. */

.parallax-music {
    /* The background image used */
    background-image: linear-gradient( rgba(56,56,61,.4), rgba(56,56,61,.4) ), url("/assets/home/music-grid.jpg");
}

.parallax-software {
    /* The background image used */
    background-image: linear-gradient( rgba(56,56,61,.4), rgba(56,56,61,.4) ), url("/assets/home/xpendx-grid.jpg");
}
