<div class="custom-background">
  <div class="parallax-title">
    <div class="title-box">
      <h1 class="title-text">Matthew Felton</h1>
      <p class="subtitle-text">Photography — Art — Music — Software</p>
    </div>
  </div>
  <div class="overlap-spacer"></div>
  <div [ngStyle]="{'background-image': 'url('+photoImage+')'}" class="parallax-photo parallax" [routerLink]="['/photography']">
    <div class="container">
      <h2 class="overlap-title">Photography</h2>
      <div class="overlap-button">
        <a class="btn-custom" [routerLink]="['/photography']">See More</a>
      </div>
    </div>
  </div>
  <div class="overlap-spacer"></div>
  <!-- <div *ngIf="artImage"> -->
    <div [ngStyle]="{'background-image': 'url('+artImage+')'}" class="parallax-art parallax" [routerLink]="['/art']">
      <div class="container">
        <h2 class="overlap-title">Art</h2>
        <div class="overlap-button">
          <a class="btn-custom" [routerLink]="['/art']">See More</a>
        </div>
      </div>
    </div>
  <!-- </div> -->
  <div class="overlap-spacer"></div>
  <div class="parallax-music parallax" [routerLink]="['/music']">
    <div class="container">
      <h2 class="overlap-title">Music</h2>
      <div class="overlap-button">
        <a class="btn-custom" [routerLink]="['/music']">See More</a>
      </div>
    </div>
  </div>
  <div class="overlap-spacer"></div>
  <div class="parallax-software parallax" [routerLink]="['/software']">
    <div class="container">
      <h2 class="overlap-title">Software</h2>
      <div class="overlap-button">
        <a class="btn-custom" [routerLink]="['/software']">See More</a>
      </div>
    </div>
  </div>
</div>
