<div class="custom-background">
  <div class="container liner">
    <h1 class="header-text">Music</h1>
  </div>
  <div class="container">
    <h1 class="col-xs-12 text-center">Piano Solo CDs</h1>
    <div class="col-xs-12 col-sm-6">
      <h2 class="text-center album-title">Impression</h2>
      <h5 class="text-center album-authors">By Matthew Felton</h5>
      <a class="cd-cover" href="https://store.cdbaby.com/cd/felton" target="_blank"><img class="cd-cover" src="/assets/music/impression-cover.jpg" alt="Impression CD Cover"></a>
      <a class="btn-custom" href="https://store.cdbaby.com/cd/felton" target="_blank">Purchase "Impression"</a>
      <a class="btn-custom" href="https://itunes.apple.com/us/album/impression/id5980810" target="_blank">Purchase on iTunes</a>
    </div>
    <div class="col-xs-12 col-sm-6">
      <h2 class="text-center album-title">Reflection</h2>
      <h5 class="text-center album-authors">By Matthew Felton</h5>
      <a class="cd-cover" href="https://store.cdbaby.com/cd/felton2" target="_blank"><img class="cd-cover" src="/assets/music/reflection-cover.jpg" alt="Reflection CD Cover"></a>
      <a class="btn-custom" href="https://store.cdbaby.com/cd/felton2" target="_blank">Purchase "Reflection"</a>
      <a class="btn-custom" href="https://itunes.apple.com/us/album/reflection/id5980868" target="_blank">Purchase on iTunes</a>
    </div>
  </div>
  <div class="container liner vertical-spacer-liner">
  </div>
  <div class="container vertical-spacer">
    <h1 class="col-xs-12 text-center">Collaborations</h1>
    <div class="col-xs-12 col-sm-6">
      <h2 class="text-center album-title">Transitions Seattle</h2>
      <h5 class="text-center album-authors">By Aaron Holm & Matthew Felton</h5>
      <a class="cd-cover" href="http://aaronholm.me/album/transitions-seattle" target="_blank"><img class="cd-cover" src="/assets/music/transitions-seattle-cover.jpg" alt="Transitions Seattle LP/CD Cover"></a>
      <a class="btn-custom" href="http://aaronholm.me/album/transitions-seattle" target="_blank">Purchase "Transitions Seattle"</a>
      <a class="btn-custom" href="http://dissolverecords.com/" target="_blank">Visit Disolve Records</a>
      <a class="btn-custom" href="https://darla.com/products/aaron-holm-matthew-felton-transitions-seattle" target="_blank">Purchase From Darla</a>
      <a class="btn-custom" href="https://itunes.apple.com/us/album/transitions-seattle/id826146739" target="_blank">Purchase on iTunes</a>
    </div>
    <div class="col-xs-12 col-sm-6">
      <h2 class="text-center album-title">Hours</h2>
      <h5 class="text-center album-authors">By Aaron Holm & Matthew Felton</h5>
      <a class="cd-cover" href="https://darla.com/products/aaron-holm-matthew-felton-hours" target="_blank"><img class="cd-cover" src="/assets/music/hours-cover.jpg" alt="Hours LP/CD Cover"></a>
      <a class="btn-custom" href="https://darla.com/products/aaron-holm-matthew-felton-hours" target="_blank">Purchase "Hours"</a>
      <a class="btn-custom" href="http://dissolverecords.com/" target="_blank">Visit Disolve Records</a>
      <a class="btn-custom" href="https://soundcloud.com/aaronholm/sets/hours_1_2" target="_blank">Listen on SoundCloud</a>
      <a class="btn-custom" href="https://itunes.apple.com/us/album/hours/id932306726" target="_blank">Purchase on iTunes</a>
    </div>
  </div>

</div>
